# Database
DATABASE_URL=postgresql://postgres:postgres@db:5432/patela

# Auth
JWT_SECRET=aySz1Qkrbj4NDuDqbCJtyZjYRJpwsSNE16GV4SHpi58
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# Redis (optional)
REDIS_URL=redis://redis:6379/0

# IMS Integration
IMS_BASE_URL=http://98.91.226.115:3000
IMS_API_KEY=drip_live_ed690205c73e5c85c47df1516dd0f8be6afd28b51c52e6fe32c39392b7130fb2

# Payment
PAYMENT_PROVIDER=stub
PAYMENT_WEBHOOK_SECRET=your-webhook-secret

# Feature Flags
FEATURE_OTP_ENABLED=false

# CORS
#CORS_ORIGINS=["http://localhost:5173","http://100.26.140.172","https://patela-easy-pay.lovable.app"]
CORS_ORIGINS=["*"]

